.tweet {
  border-bottom: 1px solid #2F3336;
  padding: 1rem;
  display: flex;
  cursor: pointer;
}
.tweet .tweet-user-image {
  margin-right: 1rem;
}
.tweet .tweet-user-image img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}
.tweet .tweet-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.tweet .tweet-content .tweet-content-head {
  display: flex;
}
.tweet .tweet-content .tweet-content-head a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: bold;
}
.tweet .tweet-content .tweet-content-head a:hover {
  text-decoration: underline;
}
.tweet .tweet-content .tweet-content-head a.username {
  color: var(--gray);
  text-decoration: none;
  font-weight: normal;
}
.tweet .tweet-content .tweet-content-footer {
  display: flex;
  justify-content: space-between;
}
.tweet .tweet-content .tweet-action-button {
  color: var(--gray);
}
.tweet .tweet-content .tweet-action-button.comments-button:hover {
  color: #1D9BF0;
}
.tweet .tweet-content .tweet-action-button.rt-button:hover {
  color: rgb(0, 186, 124);
}
.tweet .tweet-content .tweet-action-button .icon-wrapper {
  padding: 0.5rem;
  border-radius: 30px;
}
.tweet .tweet-content .tweet-action-button.comments-button:hover .icon-wrapper {
  background-color: rgba(29, 155, 240, 0.1);
}
.tweet .tweet-content .tweet-action-button.rt-button:hover .icon-wrapper {
  background-color: rgba(0, 186, 124, 0.1);
}
.tweet .tweet-content .tweet-action-button.delete-button:hover {
  color: red
}
